



body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(screen-0.jpg);
    
}

.title {
    text-align: right;
    display: flex;
    justify-content: center;
    color: bisque;
   
}

.social-dev {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;

}



#trybe {
    width: 50px;
    border-radius: 50%;

}

#github {
    width: 50px;
    border-radius: 50%;
}

#linkedin {
    width: 50px;
    border-radius: 50%;
}

.history {
    width: 200px;
    border-radius: 50%;
    display: inline-block;
}

.minhafoto {
    width: 150px;
    border-radius: 150%;
    text-align: block;


}

.depoimentofoto {
    text-align: right;
    margin-left: 300px;
    margin-top: 100px;
    width: 30%;


}

.depoimento {

   width: 40%;


}

.positivepoints {

    text-align: center;
    width: 30%;
   
    



}


h1,p,ul {
    
   

}