

body {
    background-image: url(https://i.pinimg.com/564x/6c/6b/40/6c6b40fb656a42ac845b2b0c70fa6ce0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

]

.rape {
    

}

.button{

}
.