body {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    text-align: right;
    display: flex;
    justify-content: center;
}

.social-dev {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;

}
.social-dev a {
gap: 10px;
text-align: center;
margin: 0 auto;
border: 1px red;

}
#trybe
{
    width: 50px;
    border-radius: 50%;
    
}
#github {
    width: 50px;
    border-radius: 50%;
}
#linkedin {
    width: 50px;
    border-radius: 50%;
}
.history 

.positive-points 

.button-linke

.button-gith

.button-trybe {
   height: 10px;
   width: 10px;
    
    
}


h1,
p,
h3,
ul {

    color: aliceblue;

}